{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  height: 100%;
  width:100%; 
  margin: 0; 
  padding: 0;
  background-color: grey;
  /*background-image: url("../img/home.png");*/
  background-repeat: no-repeat;
}

.card{

  height: 100%;
  width:80%; 
  

}

      
#map {
 height: 50%; 
}
      
.action{
  position: fixed;
  bottom: 5%;
  left: 65%;
}
      

#adresse{
  font-weight: bold;
  color:white;
}

h1,p {
  color:white;
}


